<footer>
  <div class="container-fluid p-0">
    <div class="row text-left">
      <div class="col-md-5">
        <h4 class="text-light">About Us</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea similique illum corrupti</p>
        <p class="pt-4 text-muted">
          Copyright ©2019 All rights reserved | This template is made with by <span>Font Awesome</span>
        </p>
      </div>
      <div class="col-md-5 col-sm-12">
        <h4 class="text-light">Newsletter</h4>
        <p class="text-muted">Stay Updated</p>
        <form class="form-inline action=" index.html" method="post"">
            <div class=" col pl-0">
          <div class="input-group pr-5">
            <input type="text" class="form-control bg-dark text-white" placeholder="Email">
            <button class="btn px-15 py-15" type="button" name="button">
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
      </div>
      </form>
    </div>
    <div class="col-md-2 col-sm-12">
      <h4 class="text-light">Follow Us</h4>
      <p class="text-muted">Let us be social</p>
      <div class="column">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
  </div>
</footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/zoomsl.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/js/index.js"></script>

</html>
